<nav class="layout-navbar navbar navbar-expand-xl align-items-center " id="layout-navbar">
    <div class="container-xxl">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

            <!-- Style Switcher -->
@*             @await Html.PartialAsync("/Views/Shared/Navbar/Helper/_StyleSwitcher.cshtml")
 *@            <!-- / Style Switcher-->

            @* <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                @await Html.PartialAsync("/Views/Shared/Navbar/Helper/_UserDropdown.cshtml")
                <!--/ User -->

            </ul> *@
        </div>
    </div>
</nav>