@using Portal.Models.ViewModels;
@model PersonVM;
@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-4">
        <div class="divider divider-info">
            <div class="divider-text">الصفحة الرئسية</div>
        </div>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">اضافة شخص الى النظام</h5>
                    <h5 class="float-end"><a class="text-danger" asp-action="Names" asp-controller="List">جميع الأسماء</a></h5>
                </div>
                <div class="card-body">
                    <form asp-area="" asp-controller="Create" asp-action="Names" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="fullname">الأسم الكامل</label>
                            <input asp-for=Name type="text" class="form-control" id="fullname">
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>

                        <div class="mb-3">
                            <label class="form-label" for="civil-number">الرقم المدني</label>
                            <input asp-for="CivilNumber" maxlength="10" type="text" class="form-control">
                            <span asp-validation-for="CivilNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="Phone">الرقم الهاتف</label>
                            <input asp-for="Phone" maxlength="8" type="text" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label for="select2Primary" class="form-label">Primary</label>
                            <div class="select2-primary">
                                <select asp-for="ReasonsList" id="select2Primary" class="select2 form-select" multiple>

                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">حفظ</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Stylesheet{
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    }

@section Scripts{
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons/datatables-buttons.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/jszip/jszip.js"></script>
    <script src="~/lib/datatablesRTL/pdfmake.js"></script>
    <script src="~/lib/datatablesRTL/vfs_fonts.js"></script>
    <script src="~/lib/datatablesRTL/buttons.print.min.js"></script>
    <script src="~/lib/datatablesRTL/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="~/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/assets/vendor/libs/cleavejs/cleave-phone.js"></script>


    <script>

        $(document).ready(function () {

            // Select2 init
            $('.select2').each(function () {
                $(this)
                    .wrap('<div class="position-relative"></div>')
                    .select2({
                        placeholder: 'أختر سببا',
                        dropdownParent: $(this).parent()
                    });
            });

            // get Reasons options from server and append it to select2 options.
            $.ajax({
                url: '@Url.Action("GetReasons", "List")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    //multi select 'select2Primary'
                    var options2 = $("#select2Primary");
                    $.each(data, function () {
                        options2.append($("<option />").val(this.id).text(this.name));
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });

            var AddStatus = '@ViewBag.AddStatus';
            if (AddStatus == "Success") {
                Swal.fire({
                    title: 'تمت العملية بنجاح',
                    text: 'تمت اضافة الشخص بنجاح',
                    icon: 'success',
                    confirmButtonText: 'حسنا'
                });
            }
            else if (AddStatus == "Error") {
                Swal.fire({
                    title: 'حدث خطأ',
                    text: 'حدث خطأ أثناء اضافة الشخص',
                    icon: 'error',
                    confirmButtonText: 'حسنا'
                });
            }

            var UpdateStatus = '@ViewBag.UpdateStatus';
            if (UpdateStatus == "Success") {
                Swal.fire({
                    title: 'تمت العملية بنجاح',
                    text: 'تم تعديل الشخص بنجاح',
                    icon: 'success',
                    confirmButtonText: 'حسنا'
                });
            }
            else if (UpdateStatus == "Error") {
                Swal.fire({
                    title: 'حدث خطأ',
                    text: 'حدث خطأ أثناء تعديل الشخص',
                    icon: 'error',
                    confirmButtonText: 'حسنا'
                });
            }




        });
    </script>


    }
