@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-4">
        <div class="divider divider-info">
            <div class="divider-text">الصفحة الرئسية</div>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>

@section Stylesheet{


    }

@section Scripts{

    }
