@using Portal.Models.ViewModels;
@model SpendMoneyVM;
@{
    ViewData["Title"] = "صرف جديد";
}

<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4 col-5 ">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">صرف مبلغ لصالح شخص</h5>
            <h5 class="float-end"><a class="text-danger" asp-action="Names" asp-controller="List">جميع الأسماء</a></h5>
        </div>
        <div class="card-body">
            <form asp-area="" asp-controller="Create" asp-action="SpendMoney" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="fullname">اسم الشخص</label>
                    <div class="select2-primary">
                        <select asp-for="NameId" id="NamesList" class="select2 form-select">
                        </select>
                    </div>
                </div>
                <span asp-validation-for="NameId" class="text-danger"></span>

                <div class="mb-3">
                    <label class="form-label" for="civil-number">تاريخ الصرف</label>
                    <input asp-for="Date" type="text" class="form-control flatpickr-input" placeholder="yyyy-MM-dd" id="flatpickr-date" readonly="readonly">
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Amount">صرف بقيمة</label>
                    <input asp-for="Amount" type="text" class="form-control">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Description">وصف السبب</label>
                    <input asp-for="Description" type="text" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">حفظ</button>

            </form>
        </div>
    </div>
</div>



@section Stylesheet{
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css">

    }

@section Scripts{
    <script src="~/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons/datatables-buttons.js"></script>
    <script src="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/jszip/jszip.js"></script>
    <script src="~/lib/datatablesRTL/pdfmake.js"></script>
    <script src="~/lib/datatablesRTL/vfs_fonts.js"></script>
    <script src="~/lib/datatablesRTL/buttons.print.min.js"></script>
    <script src="~/lib/datatablesRTL/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="~/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/assets/vendor/libs/flatpickr/flatpickr.js"></script>


    <script>

        $(document).ready(function () {

            //flatpickr-date with date only format and range from today to 30 days later
            $('#flatpickr-date').flatpickr({
                dateFormat: 'Y-m-d',
                monthSelectorType: 'static',
                maxDate: 'today'
            });

            // Select2 init
            $('.select2').each(function () {
                $(this)
                    .wrap('<div class="position-relative"></div>')
                    .select2({
                        dropdownParent: $(this).parent(),
                        placeholder: 'اختر',
                    });
            });
            $.ajax({
                url: '@Url.Action("GetNames", "List")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var options2 = $("#NamesList");
                    $.each(data, function () {
                        options2.append($("<option />").val(this.id).text(this.name));
                    });

                    options2.val(null).trigger("change");

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });








        });
    </script>


    }
