@model TransferMoneyVM;
@{
    ViewData["Title"] = "تحويل مبلغ";
}
<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">
                تحويل مبلغ من رصيد الى رصيد اخر
            </h5>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-text">تحويل مبلغ من</span>
                    <input type="text" aria-label="First name" class="form-control">
                    <span class="input-group-text">الى</span>
                    <input type="text" aria-label="Last name" class="form-control">
                </div>
            </div>
        </div>




    </div>
</div>