


@{
    ViewData["Title"] = "أضافة شخص";
}

<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-4">
        <div class="divider divider-info">
            <div class="divider-text">الصفحة أضافة الأشخاص</div>
        </div>
        <div class="card-body">
            <div class="divider divider-info mb-4">
                <div class="divider-text">جميع المستخدمين</div>
            </div>

            <div class="table-responsive">
                <table id="userTable" class="table table-sm table-bordered table-striped justify-content-xl-center dataTables_wrapper" style="width:100%">
                    <thead>
                        <tr>
                            <th>الرقم العسكري</th>
                            <th>الاسم</th>
                            <th>البريد الإلكتروني</th>
                            <th>رقم الهاتف</th>
                            <th>الصلاحيات</th>
                            <th>الأجراء</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>

@section Stylesheet{


    }

@section Scripts{

    }
