@using Portal.Models.ViewModels;
@model EditPersonVM;
@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<!-- Content Page -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-4">
        <div class="divider divider-info">
            <div class="divider-text">الصفحة الرئسية</div>
        </div>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">اضافة شخص الى النظام</h5>
                    <h5 class="float-end"><a class="text-danger" asp-action="Names" asp-controller="List">جميع الأسماء</a></h5>
                </div>
                <div class="card-body">
                    <form asp-controller="Edit" asp-action="EditPerson" method="POST">
                        <input type="text" value="@ViewBag.Id" asp-for="Id" hidden />
                        <div class="mb-3">
                            <label class="form-label" for="fullname">الأسم الكامل</label>
                            <input asp-for=Name type="text" class="form-control" id="fullname">
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>

                        <div class="mb-3">
                            <label class="form-label" for="civil-number">الرقم المدني</label>
                            <input asp-for="CivilNumber" maxlength="10" type="text" class="form-control">
                            <span asp-validation-for="CivilNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="Phone">الرقم الهاتف</label>
                            <input asp-for="Phone" maxlength="8" type="text" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="select2Primary" class="form-label">Primary</label>
                            <div class="select2-primary">
                                <select asp-for="ReasonsList" id="select2Primary" class="select2 form-select" multiple>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">حفظ</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Stylesheet{
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css">

    }

@section Scripts{
    <script src="~/assets/vendor/libs/select2/select2.js"></script>

    <script>

        $(document).ready(function () {

            // Select2 init
            $('.select2').each(function () {
                $(this).wrap('<div class="position-relative"></div>')
                    .select2({
                        placeholder: 'أختر سببا'
                    });
            });
            // get Reasons options from server and append it to select2 options.
            $.ajax({
                url: '@Url.Action("GetReasons", "List")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    //multi select 'select2Primary'
                    var options2 = $("#select2Primary");
                    $.each(data, function () {
                        options2.append($("<option />").val(this.id).text(this.name));
                    });
                    var selectedReasonsList = @Html.Raw(Json.Serialize(ViewBag.selectedReasonsList));
                    $("#select2Primary").val(selectedReasonsList).trigger("change");

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });




        });
    </script>


    }
