<footer class="footer bg-dark">
    <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-1">
        <div style="font-size: initial; color:white">
            ©
            @DateTime.Now.Year
            ,جميع الحقوق محوظة - الى لا احد.
        </div>
        <a asp-action="index" asp-controller="Home" class="app-brand-link gap-4">
            <span>
                <img src="~/logo/logo-oman2040.png" alt="oman 2040 logo" width="60" height="50">
            </span>

            <div class="row">
                <span class="app-brand-text pb-1" style="font-size: larger; color:white">لا احد</span>
            </div>
        </a>
    </div>
</footer>